/* ----- NUEVO: zona CRUD categorías ----- */
.add-category-section {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.add-category-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  gap: 6px;
}

.add-category-section input {
  width: 80%;
  padding: 4px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
  border: 1px solid #a0764b;
  border-radius: 4px;
}

.add-category-section button {
  background-color: #8b4513;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
}

.add-category-section button:hover {
  background-color: #a0522d;
}
